*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {  
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 0.3fr;
    grid-template-areas:
    "header header header header header"
    "section1 section1 section2 section2 section4"
    "section1 section1 section3 section3 section4"
    "section5 section5 section5 section6 section6"
    "footer footer footer footer footer";
}
.header, .footer { 
grid-area: header; 
background-color: rgb(58, 100, 76);
color:white;
display: flex;
justify-content:space-between;
align-items: center;
}
.header__titulo{
font-size: 2.5rem;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
}
.header__img{
width: 70px;
border-radius: 10%;
padding: 10px;
}
.header__nav{
padding: 10px;
}
.header__menu{
display: flex;
list-style-type: none;
padding: 10px;
}
.header__link{
margin:10px;
padding: 10px;
border: 2px white solid;
background-color: rgb(58, 100, 76);
text-decoration: none;
color: white;
font-family: 'Times New Roman', Times, serif;
}
.header__link:hover{
color:rgb(133, 151, 141);
font-weight: bold;
}
.section{
border: rgb(58, 100, 76) 3px solid;
background-color: rgb(133, 151, 141);
display:flex;
flex-direction: column;
align-items: center;
}
.section__titulo{
text-align: center;
margin:10px;
font-size: 55px;
color: black;
text-decoration: none;
}
.section__nav{
    text-decoration: none;
}
.section__container-img{
padding: 20px;
}
.section__img{
width: 200px;
border-radius: 10px;
}
.section__text{
padding: 10px;
line-height: 1.5;
font-size: 20px;
}
.section__text2{
    padding: 20px;
    line-height: 3;
    font-size: 50px;
    font-weight: 200;
}
.section1 { 
grid-area: section1;
}
.section2 { 
grid-area: section2;
}
.section3 { 
grid-area: section3;   
}
.section4 { 
grid-area: section4; 
}  
.section5 { 
grid-area: section5;
}  
.section6 { 
grid-area: section6;
}  
.footer { 
grid-area: footer;
font-family: 'Times New Roman', Times, serif; 
font-weight: bold;
}
.footer img{
width: 50px;
padding: 10px;
}
.carousel-slide{
    padding-top: 50px;
    padding-bottom: 100px;
}
.estilo__formulario{
    background-color: rgb(133, 151, 141);
}
.container__cursos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas:
    "Curso1 Curso2 Curso3";
}

.Curso1{
    grid-area: Curso1;
}

.Curso2{
    grid-area: Curso2;
}

.Curso3 {grid-area: Curso3;
}
.mapa{
    position: relative;
    right: 25%;
    left: 25%;

}
.estilo__redes{
    background-color: rgb(133, 151, 141);
    display: flex;
    justify-content: space-around;
}
.estilo__facebook{
    text-align: center;
    width: 200px;
    padding-bottom: 25px;
    padding-top: 25px;
}
.estilo__instagram{
    width: 250px;
}
.estilo__twitter{
    width: 200px;
    padding-bottom: 25px;
    padding-top: 25px;
}



/*media querie para tablet*/ /*falta direccion y redes*/
@media screen and (max-width:768px){
    .container{
    grid-template-columns:repeat(4, 1fr) ;
    grid-template-areas:
    "header header header header "
    "section1 section1 section2 section2"
    "section1 section1 section3 section3"
    "section4 section4 section4 section4"
    "section5 section5 section6 section6"
    "footer footer footer footer";
    }
    .container__cursos{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "Curso1"
    "Curso2"
    "Curso3"
    "footer";
    }
    .header{
    flex-direction: column;
    align-self: center;
    width: 100%;
    }
    .mapa{
        width: 400px;
        height: 250px;
    }



}

/*media querie para mobile*/ /*falta direccion y redes*/
@media screen and (max-width:600px){
.container{
    grid-template-columns:1fr ;
    grid-template-areas:
    "header"
    "section1" 
    "section2"
    "section3"
    "section4"
    "section5"
    "section6"
    "footer";
}
.container__cursos{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "Curso1"
    "Curso2"
    "Curso3"
    "footer";
}
}